<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">-->
	<link rel="stylesheet" type="text/css" media="screen" href="Css/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<title>Libros</title>
</head>

<body>
	<!-- Navigation -->
	<nav th:replace="/fragments/navbar :: nav"></nav>

	<main class="libro">
		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light">LIBRERIA</h1>
					<p class="lead text-muted">SINCE 1995</p>
					<p>
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/libro/registro}" class="btn btn-primary my-2">Cargar Libro</a>
						<a th:href="@{/libro/lista}" class="btn btn-primary my-2">Listar Libros</a>
					</p>
				</div>
			</div>
		</section>

		<div class="container">

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

				<div class="col" th:each="perro : ${perros}">
					<div class="card shadow-sm">
						<img class="bd-placeholder-img card-img-top img-thumbnail" th:src="${perro.foto}">
						<div class="card-body">
							<p class="card-text"
								th:text="${perro.nombre} + ' es un '+ ${perro.raza} + ' cuyo apodo es '+  ${perro.apodo}">
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div>

	</main>



	<script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>