<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">-->
	<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<title>Modificar Autor</title>
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-light navbar-dark bg-dark">

		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="#">Navbar</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/}">Menú Principal</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/autor}">Menú Autores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/editorial}">Menú Editoriales</a>
			</li>
		</ul>
	</nav>
	
	<div class="row">
		<div class="col-12">
			<div th:if="${exito}!=null" class="card text-white bg-success mb-3">
				<div class="card-body">
					<h5 class="card-title">Exito</h5>
					<p class="card-text" th:text="${exito}"></p>
				</div>
			</div>
			<div th:if="${error}!=null" class="card text-white bg-danger mb-3">
				<div class="card-body">
					<h5 class="card-title">Error</h5>
					<p class="card-text" th:text="${error}"></p>
				</div>
			</div>
			<form th:action="@{/autor/modificar/__${autor.id}__}" method="POST">
				<input hidden th:value="${id}" name="id">
				<div class="col-4">
					<div class="form-group">
						<label>Nombre</label> <input th:value="${autor.nombre}" type="text" class="form-control"
							name="nombre" placeholder="Nombre del autor">
					</div>
				</div>
				<div class="col-2">
					<button type="submit" class="btn btn-primary">Confirmar</button>
				</div>
			</form>
		</div>
	</div>
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<a th:href="@{/autor/lista}" class="btn btn-primary my-2">Volver</a>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>

</html>